*{
    margin: 0;
    padding: 0;
    list_style: none;
    text-decoration: none;
    text-align: center;
    background-color:: #353b48
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #2d3436
    
}
.heading_font{
    font-family: 'Libre Franklin', sans-serif;
    font-color: #eb4e00;
    color:#eb4e00;
    font-weight: 100;
    font-size: 35px
}
.blank{
    width: 100%;
    height: 150px;
    display: block;
    background-color: #353b48;
    font-size: 28px;

.subheading_font{
    font-family: 'Gentium Basic', serif;
    font-weight: 100;
    font-size: 30px;
    color:#eb4e00;
    font-color: #eb4e00;
}
    
.first{
    width: 480px;
    height: 15px;
}
.second{
    width: 480px;
    height: 15px;
}
.third{
    width: 480px;
    height: 15px;
    .first{
    width: 480px;
    height: 15px;
}
.fourth{
    width: 480px;
    height: 15px;
}
.fifth{
    width: 480px;
    height: 15px;
}
.sixth{
    width: 480px;
    height: 15px;
}
.footer{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #2c363a;    
}
