<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Price Predictor</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/4a5f7f2f41.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <!-- Website Title -->
    <div class="header">
        <div class="container">
            <h2 class='container-heading'><span class="heading_font">Car Price Predictor</span></h2>
            <div class='description'>
                <p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
            </div>
         </div>
    </div>
    
 
    <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input id="first" name="Year" type="number " placeholder="Car's year? eg. 2014"><br>
            <input id="third" name="Kms_Driven" required="required" placeholder="Car's Mileage? (in Kms) eg. 70000"><br>
            <input id="fourth" name="Owner" required="required" placeholder="Number of owners the car has had? eg. 2"><br>
            <h3> Fuel Type <h3> 
            <select name="Fuel_Type_Petrol" id="fuel" required="required">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
            </select>
            <h3> Who's selling the car? <h3> 
            <select name="Seller_Type_Individual" id="resea" required="required"><br>
                <option value="Dealer">Dealership seller</option>
                <option value="Individual">Individual seller</option>
            </select>
            <h3> Transmission type? <h3> 
            <select name="Transmission_Mannual" id="research" required="required"><br>
                <option value="Mannual">Manual</option>
                <option value="Automatic">Automatic</option>
            </select>
            <br>
            <br>
            <br>    
            <!-- CTA Button -->    
        	<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/prosasDS/car-price-regression"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/pedro-rosas-aa0336199"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made by Pedro Rosas Vernet.</p>
       </div>
</body>

</html>
